/*デフォルトフォントを10pxに*/
html {
    font-size: 62.5%;
}

/*フォントを40pxに*/
body{
    font-size: 4rem;
}

/*Chrome印刷対応*/
/*todo BootStrapが干渉してるようなので見直し*/
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

table{
    font-size: 4rem;
    width:100%;
}

/*入力欄の幅指定*/
#sheetUrl{
    width: 75%;
}
#loadButton{
    width: 20%;
}

/*数値bold*/
.bignum {
    font-size: 1.5em;
}

.tr_0{
    height:10px;
    background-color: black !important;
}

/*------- 列幅定義 ---------*/
/*アイコン列*/
.icon{
    width: 20%;
}
/*積算距離*/
.odo{
    width:25%;
}
/*タイトル列*/
.title {
    font-size: 1.5em;
    width: 55%;
}
.next{
    width: 25%;
}
.street{
    width: 55%;
}

/*アイコン画像幅*/
.icon img{
    width: 200px;
    height: 200px;
}
/*信号画像*/
.signal img{
    height: 50px;
}

/*左アイコンは右矢印を反転*/
.left {
    transform: rotateY(180deg);
}
/*注意フラグ*/
.caution {
    color: orangered !important;
}
