/*デフォルトフォントを10pxに*/
html {
    font-size: 62.5%;
}

/*フォントを30pxに*/
table{
    font-size: 4rem;
    width:100%;
    /*table-layout: fixed;*/
    /*word-break: break-word;*/
}

/*入力欄の幅指定*/
#sheetUrl{
    width: 79%;
}
#loadButton{
    width: 20%;
}

/*数値bold*/
.bignum {
    font-size: 1.5em;
}

.tr_0{
    background-color: #172341;
}

/*------- 列定義 ---------*/
/*アイコン列*/

.icon{
    width: 20%;
}
/*積算距離*/
.odo{
    width:30%;
}
/*タイトル列*/
.title {
    font-size: 1.5em;
    width: 50%;
}
.next{
    width: 30%;
}
.street{
    width: 50%;
}


/*------- 列定義 ---------*/
/*各種アイコン表示*/
.checkpoint {
    background: url('../img/check.jpg');
    background-size: cover;
}

.right {
    background: url('../img/arrow.jpg');
    background-size: cover;
}

.left {
    background: url('../img/arrow.jpg');
    background-size: cover;
    transform: rotateY(180deg);
}

.hint {
    background: url('../img/hint.jpg');
    background-size: cover;
    transform: rotateY(180deg);
}
